extends base.pug

block content 
  form(method="POST", action="/videos/upload")
    input(placeholder="Title", type="text" , name="title", required)
    input(placeholder="Description", type="text" , name="description", required)
    input(placeholder="Hashtags, seperated by comma" type="text" , name="hashtags", required)
    input(type="submit", value="Upload Video")